body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.main-text {
    float: left;
    padding-top: 50px;
    padding-left: 50px;
    color: white;
}

.main-back {
    background-color: cornflowerblue;
}

.main-iphone img {
    width: 550px;
    float: right;
}

.button {
    background-color: dimgray;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px
}

.sec-box {
    text-align: center;
}

.sec-btn {
    margin-top: 20px;
}

.offer-back {
    background-color: #1f70be;
}

.sub-main-text {
    text-align: center;
}

.offer-text {
    float: left;
    text-align: center;
    width: 25%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

h6 {
    color: darkkhaki;
    margin-top: 40px;
}

.offer-box {
    margin: auto;
}

.do-main-text {
    width: 100%;
    text-align: center;
}

.do-item {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.do-image {
    position: relative;
    margin-bottom: -4px;
}


.do-text {
    position: absolute;
    top: 40px;
    left: 80px;
}



@media screen and (max-width:992px) {
    .main-text {
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-left: 0px;
    }

    .main-iphone img {
        width: 100%;
        margin: 0px;

    }

    .offer-text {
        float: none;
        margin: auto;
        width: 100%;
    }
}


@media screen and (max-width:768px) {
    .main-text {
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-left: 0px;
    }

    .main-iphone img {
        width: 100%;
        margin: 0px;
    }

    .offer-text {
        float: none;
        margin: auto;
        width: 100%;
    }
    
    .do-image{

    }

}
